

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 2px;
  margin: 1px;
  color: white;
  height:14px;
}


.textformat {
	line-height: 17px;
}


.hsentence {
	font-weight: bold;
}



.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: brown;
}

.barstroke {
  stroke: #4d4d4d;
  stroke-width: 1;

}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}




